<h1>About Lynn</h1>
<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/v/t1.0-9/969862_10200612146839989_163242653_n.jpg?oh=b51e465d2e46a674c0cb84f076c6aa7c&oe=54B3379E&__gda__=1421623320_00f6f82bf48ecd8caec853bc6b09970c">
<p>Hi! My name is Lynn and I'm a second year double major in Computer Science and Art Studio here at Cal. I spend almost all of my spare time rock climbing (indoors and outdors) and am part of the Cal Climbing Team.</p>
